/* CSS declarations go here */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-bottom: 2rem;
}

.jumbotron {
	margin-top: 50px;
	background-image: url("bg.png");
}