/* CSS declarations go here */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-bottom: 2rem;
  min-width: 460px;
}

/* Navigation */
.navbar {
	background: none;
	border: none;
}

/* Landing */

.jumbotron {
	margin-top: 50px;
	margin-bottom: 0px;
	color: white;
	background: none;
	max-height: 800px;
	padding-top: 45%;
	background: url("bg/jpg/tutti.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

@media (min-width: 1366px) {
	.jumbotron {
		padding-top: 600px;
	}
}

.jumbotron h1 {
	text-shadow: 1px 1px darkgrey;
}

/* Chi siamo .value-proposition */

.container-fluid.values-proposition {
	background-color: #FD9A2B;
	color: white;
	padding-bottom: 60px;
} 

.container-fluid.values-proposition .values-title {
	margin-top: 60px;
	margin-bottom: 15px;
	font-size: 2.5em;
}

.box-value h3 {
	font-size: 1.5em;
}

@media (min-width: 768px) {
	.values-proposition > * {
		margin: 0 auto;
		max-width: 750px;
	}
}

/* Come si usa .how-to-do */

.container-fluid.how-to-do {
	/* Nobody here! */
	padding-bottom: 45px;
} 

.container-fluid.how-to-do .how-to-do-title {
	margin-top: 60px;
	margin-bottom: 30px;
	font-size: 2.5em;
} 

.box-how-to-do div.step-bg.service {
	background-image: url("steps/servizio.png");
}

.box-how-to-do div.step-bg.dates {
	background-image: url("steps/appuntamento.png");
}

.box-how-to-do div.step-bg.choose {
	background-image: url("steps/operatore.png");
}

.box-how-to-do div.step-bg {
	width: 100%;
  	padding-bottom: 60%;
  	background-size: contain;
  	background-repeat: no-repeat;
}



@media (min-width: 768px) {
	.how-to-do > * {
		max-width: 750px;
		margin: 0 auto;
	}
	.box-how-to-do {
		margin-bottom: 15px;
	}
}
